.description {
    text-align: center;
    background-image: url("https://image.freepik.com/free-photo/wall-wallpaper-concrete-colored-painted-textured-concept_53876-31799.jpg");
    height: 300px;
    color: white;

};
